name: Azure App Service Deploy

on:
  workflow_call:
    inputs:
      docker-image:
        description: ''
        required: true
        type: string
      azure-webapp-name:
        description: 'Azure App Service name'
        required: true
        type: string
      deployment-slot:
        description: 'Azure App Service Slot (dev or production)'
        required: true
        type: string
    secrets:
      AZURE_SERVICE_PRINCIPAL:
        description: 'Azure Service Principal for login'
        required: true
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_SERVICE_PRINCIPAL }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ inputs.azure_webapp_name }}
          images: '${{ inputs.docker_image }}'
          slot-name: ${{ inputs.deployment-slot }}
